<form [formGroup]="userForm" (ngSubmit)="submitHandler()">
  <input
    type="file"
    [class.error-input]="file?.invalid && file?.touched"
    class="form-input"
    (change)="onFileChange($event)"
  />
  <input
    type="text"
    [class.error-input]="name?.invalid && name?.touched"
    class="form-input"
    placeholder="Name"
    formControlName="name"
  />
  <select
    class="form-input"
    formControlName="nationality"
    [class.error-input]="nationality?.invalid && nationality?.touched"
  >
    <option value="" disabled selected hidden>Select nationality</option>
    <option *ngFor="let nationality of nationalities" [ngValue]="nationality">
      {{ nationality }}
    </option>
  </select>
  <input
    type="text"
    [class.error-input]="bio?.invalid && bio?.touched"
    class="form-input"
    placeholder="Bio"
    formControlName="bio"
  />
  <button type="submit" class="form-button">Submit</button>
</form>
