@import "../../../styles.scss";

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;

  .link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      height: 1.6rem;
      margin-right: 10px;
    }
    a {
      font-weight: bold;
      font-size: 1.6rem;
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
