@import "../../../styles.scss";

.wrapper {
  color: $text-color;
  background-color: $accent-color;
  height: 100vh;
  overflow: auto;
}

:host ::ng-deep {
  app-search-bar {
    .search-container {
      margin-top: 25px;
      max-width: 750px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.2em;

  header {
    width: 70%;
    max-width: calc(0.7 * 0.9 * 600px);

    .logo {
      width: 100%;
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
}

.search-svg {
  margin-left: 0.5em;
  width: 0.8em;
}

.search-container {
  margin-top: 1.5em;
  width: 100%;
  max-width: 750px;

  background-color: white;

  border-radius: 20px;
  border-color: $accent-color;
  border-style: solid;
  border-width: 3px;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 620px;
  overflow: auto;
  width: 100%;

  &:empty {
    border-top: none;
  }
}

.search-bar {
  width: 98%;
  padding: 0.8em;

  outline: none;
  border: none;
  border-radius: 100em;

  caret-color: $accent-color;
}

@media (min-width: 600px) {
  .main {
    // margin-top: 0;
    justify-content: center;
    // max-height: 2000px;
  }

  .fix-top {
    height: auto;
  }
}
