@import "../../../styles.scss";

header {
}

main {
  display: flex;
  background-color: $bg-color;

  .side-content {
    padding: 25px 10px;
    flex: 1;
    height: calc(100vh - 60px);
  }

  .main-content {
    padding: 10px;
    width: 800px;
  }
}

:host ::ng-deep {
  app-nav-bar {
    app-search-bar {
      .search-container {
        max-width: 400px;
        position: absolute;
        top: 0;
        margin: 5px 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
