<div class="body">
  <nav class="nav-bar">
    <a routerLink="/">Home</a>
  </nav>
  <div class="main">
    <img class="logo" src="../../assets/SMAT_LOGO.svg" alt="SMAT logo" />
    <div class="auth-card">
      <div *ngIf="isSignUp; then signUpBlock; else SignInBlock"></div>
      <ng-template #signUpBlock>
        <h1>Sign Up</h1>
        <form>
          <input class="form-input" type="text" placeholder="Email" />
          <input class="form-input" type="text" placeholder="Password" />
          <input class="form-input" type="text" placeholder="Name" />
          <input class="form-input" type="text" placeholder="Nationality" />
          <a class="form-button">Register</a>
          <p>
            Already a member?
            <span>
              <a class="redirect-button" (click)="isSignUp = false">Sign In</a>
            </span>
          </p>
        </form>
      </ng-template>
      <ng-template #SignInBlock>
        <h1>Sign In</h1>
        <form>
          <input class="form-input" type="text" placeholder="Email" />
          <input class="form-input" type="text" placeholder="Password" />
          <a class="form-button">Access</a>
          <p>
            New to SMAT?
            <span>
              <a class="redirect-button" (click)="isSignUp = true">Sign Up</a>
            </span>
          </p>
        </form>
      </ng-template>
      <h1></h1>
    </div>
  </div>
</div>
