@import "../../../styles.scss";

.user-card {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  background: $bg-color-contrast;

  header {
    display: flex;
    justify-content: flex-end;

    .dropdown {
      cursor: pointer;
      position: relative;
      display: inline-block;

      .icon {
        height: 30px;
        width: 30px;
        padding: 5px;
        border-radius: 50%;
        color: $accent-color;
        &:hover,
        &:focus {
          background-color: $bg-color;
        }
      }
      .buttons {
        display: none;
        position: absolute;
        right: 0;
        min-width: 150px;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        button {
          background-color: $bg-color-contrast;
          min-height: 40px;
          padding: 10px;
          text-align: left;
          cursor: pointer;
          border: none;
          &:hover {
            background-color: $bg-color;
          }
        }
      }
      &:hover .buttons {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 250px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    h2 {
      margin-bottom: 20px;
    }
    h3 {
      color: $accent-color;
      width: 100%;
      align-self: flex-start;
      margin-bottom: 10px;
    }
    p {
      width: 100%;
      background: $bg-color;
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      overflow-y: auto;
      max-height: 300px;
    }
  }
}
