@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Saira+Stencil+One&display=swap");

:root {
  --sidebar-width: 300px;
  --colors-main: white;
}

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #FEF2F5;
  color: white;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}