@import "../../../styles.scss";

.post {
  background: $bg-color-contrast;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top: 15px;
  padding: 10px 20px;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    .user {
      cursor: pointer;
      display: flex;
      align-items: center;
      img {
        height: 28px;
        width: 28px;
        border-radius: 50%;
      }
      h2 {
        margin: 0;
        margin-left: 0.8em;
        color: $text-color;
        font-size: 1rem;
      }
    }
    .trailing {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      .dropdown {
        cursor: pointer;
        position: relative;
        display: inline-block;

        .icon {
          height: 30px;
          width: 30px;
          padding: 5px;
          border-radius: 50%;
          color: $accent-color;
          &:hover,
          &:focus {
            background-color: $bg-color;
          }
        }
        .buttons {
          display: none;
          position: absolute;
          right: 0;
          min-width: 150px;
          border-radius: 20px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;

          button {
            background-color: $bg-color-contrast;
            min-height: 40px;
            padding: 10px;
            text-align: left;
            cursor: pointer;
            border: none;
            &:hover {
              background-color: $bg-color;
            }
          }
        }
        &:hover .buttons {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  main {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;

    .file-preview {
      align-self: center;
      margin-right: 15px;
      height: 180px;
      width: 120px;
    }
    .post-info {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      text-align: left;
      flex-grow: 1;
      h1 {
        font-size: $text-size-medium;
        margin-bottom: 15px;
      }
      h3 {
        font-weight: 500;
        font-size: $text-size-xsmall;
        margin-bottom: 10px;
      }
      p {
        color: $text-contrast;
        margin-bottom: 10px;
        overflow: auto;
        font-size: $text-size-xsmall;
      }
      .post-info-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .post-description {
        flex: 1;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;

  a {
    color: $text-color;
    font-size: $text-size-small;
  }
  .trailing {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    .stat {
      display: flex;
      margin-right: 20px;
      img {
        cursor: pointer;
        width: 20px;
        margin-right: 0.8em;
      }
      h6 {
        font-size: $text-size-small;
        color: $text-contrast;
      }
    }
  }
}

.hide-desktop {
  display: none;
}

@media (max-width: 600px) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  .post-info h3 {
    margin: 0;
    margin-top: 0.5em;
  }

  .post-info p {
    margin-top: 0.5em;
  }

  .post-info-row {
    flex-direction: column;
    align-items: flex-start;
  }
}
